$green: #005e48;
$textPrimaryBlack: #121212;
$textSecondaryBlack: #444444;

$fontFamily: "Montserrat", sans-serif;

$fontSizeNormal: 16px;
$fontSizeMedium: 20px;
$fontSizeLarge: 38px;

$mobileWidth: 768px;
